body {
    margin: 0;
    padding: 0;
    font-family: 'Creepster', cursive;
    background: url('./elementos/webbackround.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background: url('./elementos/navbarback.jpg') center/cover no-repeat;
    color: #fff;
    padding: 3px 0;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links, .nav-links li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 1px;
}


.additional-text {
    color: #fff;
    font-family: 'Creepster', cursive;
}

form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
}

#container-monstruos {
    max-width: 600px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

#container-monstruos form {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

#container-monstruos label {
    margin-bottom: 8px;
    font-weight: bold;
}

#container-monstruos input, #container-monstruos select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

footer {
    background: url('./elementos/navbarback.jpg') center/cover no-repeat;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2.3%;
    width: 100%;
    padding: 10px;
}

.footer-nav ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.footer-nav li {
    display: inline;
    margin-right: 15px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
}

#spinner-modal{
    width: 20%;
    height: 40%;
    padding: 10px 20px;
    margin: 20% auto;
    position:relative;
    display:block;
    opacity: 1;
    bottom: 200px;
}

#spinner{
    background-color: rgb(187, 183, 183, 0.5);
    position:fixed;
    z-index: 2;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: block;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        margin-top: 10px;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links li:not(:last-child) {
        margin-right: 10px;
    }
    
    form {
        max-width: 60%;
    }
    
    body{
        overflow-x: hidden;
    }

}